services:
  gallery:
    image: uvmain/gallery:latest
    container_name: gallery
    env_file:
      - .env
    volumes:
      - /mnt/main/docker/gallery:/data
      - /mnt/main/photos:/images
    ports:
      - "3001:8080"